name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout the code
      uses: actions/checkout@v3
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.2
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    - name: Setup VSTest Path
      uses: darenm/Setup-VSTest@v1.2
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    - name: Install dependencies
      run: nuget restore ./src/NLoad.sln
    - name: Build
      run: msbuild.exe ./src/NLoad.sln
    - name: Test
      run: |
        vstest.console.exe "./src/NLoad.App.Tests/bin/Debug/NLoad.App.Tests.dll" /Logger:trx
        vstest.console.exe "./src/NLoad.Tests/bin/Debug/net7.0/NLoad.Tests.dll" /Logger:trx
